
.main-body {
    font-family: sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(162deg, #a6c0fe 0%, #f68084 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-body .container {
    width: 500px;
    border-radius: 10px;
    background-color: white;
    margin: 40px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.text {
    font-size: 2rem;
    color: blueviolet;
    font-weight: 700;
}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 60px;
    background-color: #eaeaea;
    border-radius: 6px;
    margin-top: 15px;
}

.errorMessage {
    margin-left: 38px;
    color: red;
}

.input img {
    margin: 0px 30px;
}

.input input  {
    height: 50px;
    width: 400px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left: 31px;
    margin: 15px 0;
    color: #797979;
    font-size: 18px;
    
}

.forgot-password span {
    color: #4c00b4;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 30px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #4c00b4;
    border-radius: 20px 20px 0 0;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.submit-button {
    display: block;
    background-color: #4c00b4;
    color: #fff;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    margin: 40px auto 0px auto;
    cursor: pointer;
}

.center {
    text-align: center;
    padding: 0;
}

.gray {
    background: #eaeaea;
    color: #676767;
}